$color-blue: #0000ff
$color-white: #ffffff
$color-yellow: #ffff00
$color-grey: #d7f5f5

$btn-box-shadow: (0rem .4rem .4rem rgba(0, 0, 0, 0.3))
$shape-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%)

$margin-vertical-big: 8rem
$grid-width: 114rem
$gutter-horizontal: 6rem


  
