.card-tour
  background: $color-blue
  height: 50rem
  box-shadow: $btn-box-shadow
  clip-path: $card-clip-path
  transition: 1s all
  perspective: 150rem
  -moz-perspective: 150rem
  &:hover
    transform: rotateY(180deg)